* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

.contenedor {
    display: grid;
    grid-template-rows: 60px 1fr 1fr 1fr 1fr 20px;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
}

.Heid,
.aticle {
    padding: 20px;
}

.Heid {
    background-color: rgb(1, 1, 84);
    grid-column: 1/span 3;
    grid: minmax(200px);
}

.aticle {
    background: radial-gradient(circle, #fff, #bbb);
    grid-column: 1/ 8;
    grid-row: 2/ 7;
    overflow: auto;
}

.nav_li {
    display: inline-block;
    padding: 10px;
    margin: 7px;
    transform: translateY(-15px);
}

#hola {
    transform: translate(100px, -15px);
}

.nav_li a {
    text-decoration: none;
    color: #fff;
}

.ul {
    display: none;
}

.div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-columns: 100px;
    grid-gap: 10px;


}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media only screen and (Max-width:600px) {
    .asi {
        display: none;
    }

    .aticle {
        grid-column: 1/ 6;
    }

    .nav {
        height: 37px;
        width: 100%;
    }

    .nav_ul {
        display: none;
    }

    .ul__button-1 {
        position: absolute;
        width: 100%;
        font-size: 25px;
        background-color: rgb(79, 79, 240);
        transform: translateY(-64px);
        z-index: 100;
    }

    .ul__button {
        padding: 6px 20px;
        text-align: right;
        width: 100%;
    }

    .ul {
        display: block;
        position: absolute;
        height: 37px;
        width: 100%;
    }

    .ul_ {
        position: relative;
        transform: translateY(-300px);
        height: cal(100vh - 64px);
        width: 75%;
        transform: translate(50% 50%);
        background-color: lightblue;
        transition: all 1.5s;
        z-index: 1;
    }

    .ul_li {
        width: 20%;
        padding: 8px 30px;
    }

    .ul_li i {
        box-sizing: border-box;
        text-align: center;
        margin-right: 5px;
        width: 30px;
    }

    .ul_li a {
        text-decoration: none;
    }

    .ul:hover>.ul_ {
        transform: translate(-1px);
    }

    .div {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
        grid-auto-columns: 50px;
        grid-gap: 10px;
    }
}