* {
    font-family: "Sen", sans-serif;
    font-weight: 100;
}

.contenedor {
    display: grid;
    grid-template-rows: 60px 1fr 1fr 1fr 1fr 20px;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
}

.Heid,
.aticle,
.fon,
.asi {
    padding: 20px;
}

.Heid {
    background-color: rgb(1, 1, 84);
    grid-column: 1/span 3;
    grid: minmax(200px);
}

.nav_li {
    display: inline-block;
    padding: 10px;
    margin: 7px;
    transform: translateY(-15px);
}
.nav_li a:hover{
    color: red;
}
#hola{
    transform: translate( 400px, -15px);
}

.nav_li a {
    text-decoration: none;
    color: #fff;
}

.ul {
    display: none;
}

.div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-columns: 100px;
    grid-gap: 10px;
    transform: translate(100px);
}

.aticle {
    background: radial-gradient(circle,#fff, #bbb);
    grid-column: 1/ 8;
    grid-row: 2/ 7;
    overflow: auto;
}

.asi {
    background: radial-gradient(circle,#fff, #ddd);
    grid-row: 2/7;

}
.from {
    min-width: 400px;
    flex: 2;
    text-align: center;
    padding: 30px;
}

.from_input {
    width: 100%;
    padding: 25px;
    border: none;
    background-color: snow;

}

.from_input[type="submit"]:hover {
    background-color: rgb(227, 227, 227);
}

.from_input[type="submit"]:focus {
    background-color: linear-gradient(to bottom, transition, #000);
}

.from_input[type="submit"]:active {
    background-color: linear-gradient(to bottom, #002, #000);
}

a {
    text-decoration: none;
}

@media only screen and (Max-width:500px) {
    .contenedor {
        display: grid;
        grid-template-rows: 60px 1fr 1fr 1fr 1fr 20px;
        grid-template-columns: repeat(3, 1fr);
        height: 1200vh;
        width: 100vh;
        line-height: 50px;
    }
    .asi {
        display: none;
    }

    .aticle {
        grid-column: 1/ 8;
    }

    .nav {
        height: 37px;
        width: 50;

    }

    .nav_ul {
        display: none;
    }

    .ul__button-1 {
        position: absolute;
        width: 100%;
        font-size: 25px;
        background-color: rgb(79, 79, 240);
        transform: translateY(-64px);
        z-index: 100;
    }

    .ul__button {
        padding: 6px 20px;
        text-align: right;
        width: 100%;
    }

    .ul {
        display: block;
        position: absolute;
        height: 37px;
        width: 100%;
    }

    .ul_ {
        position: relative;
        transform: translateY(-300px);
        height: cal(100vh - 64px);
        width: 75%;
        transform: translate(50% 50%);
        background-color: lightblue;
        transition: all 1.5s;
        z-index: 1;
    }

    .ul_li {
        width: 20%;
        padding: 8px 30px;
    }

    .ul_li i {
        box-sizing: border-box;
        text-align: center;
        margin-right: 5px;
        width: 30px;
       
    }

    .ul_li a {
        text-decoration: none;
    }

    .ul:hover>.ul_ {
        transform: translate(-1px);
    }

     .div {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
        grid-auto-columns: 50px 1fr;
        grid-gap: 10px;
        transform: translate(-30px);
    }
}